
body
{
	font-family: Verdana, Arial;
	margin: 0px;
	padding: 0px;
}
#header
{
	background-color: #507cd1;
	text-align: center;
	clear: both;
	margin: 0px;
}
#leftnav
{
	float: left;
	width: 200px;
	margin: 0px;
	background-color: #507cd1;
	border-right: 2px solid black;
	height: 400px;
}
#maincontent
{
	margin: 0px 0px 0px 200px;
}
#footer
{
	clear: both;
	margin: 0px;
	background-color: #507cd1;
	font-size: small;
	text-align: center;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
