body
{
	font-family: Verdana, Arial;
	width: 800px;
}
.body
{
}
.centercol
{
	float: right;
}
.leftcol
{
	float: left;
}
.header
{
	text-align: center;
}
.footer
{
	font-size: small;
	text-align: center;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
