
/*
 *  HEADER
 */
#header h1
{
	text-align: center;
}
#head-top-grey
{
	border-bottom: 1px solid gray;
	font-size: x-small;
	padding: 5px 10px;
	margin: 0px;
}
#head-top-grey p
{
	padding: 0px;
	margin: 0px;
}
.head-top-time
{
	color: Gray;
	float: right;
}

/*
 *  STANDARD ELEMENTS
 */
a
{
	color: #0066ff;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
body
{
	font-family: Verdana, Arial;
	margin: 0px;
}
h2
{
	color: #0066ff;
}
h3
{
	color: #0066ff;
	font-size: large;
	width: 95%;
	border-bottom: 2px solid #74ee33;
}

/*
 *  MAIN CONTENT PANEL
 */
#maxwidth
{
	width: 80%;
	margin: 10px auto;
}
#main-content
{
	margin: 5px 220px 30px 20px;
}

/*
 *  TOP NAVIGATION BAR
 */
#nav-bar
{
	margin: 0px;
}
#nav-bar table
{
	height: 53px;
	width: 100%;
	margin: 0px;
	font-size: large;
}
#nav-bar a, #nav-bar a:visited
{
	color: #333333;
}
#nav-bar tr
{
	background-image: url('Images/header_bg.gif');
	background-position: top center;
	background-repeat: repeat-x;
	vertical-align: middle;
}
#nav-bar td
{
	margin: 0px;
	padding: 0px;
}
#nav-bar-left
{
	width: 7px;
	background-color: Transparent;
	background-image: url('Images/header_left.gif');
	background-position: left top;
	background-repeat: no-repeat;
}
#nav-bar-main
{
	background-color: Transparent;
	text-align: center;
}
#nav-bar-right
{
	width: 7px;
	background-color: Transparent;
	background-image: url('Images/header_right.gif');
	background-position: right top;
	background-repeat: no-repeat;
}
#nav-bar-main ul
{
	margin-top: 15px;
	list-style-type: none;
}
#nav-bar-main li
{
	display: inline;
	margin: 10px;
}
#nav-bar-main li:hover
{
}

/*
 *  FOOTER BAR
 */
#footer
{
	clear: both;
	font-size: small;
	text-align: center;
	border-top: 1px solid gray;
}
#footer ul
{
	list-style-type: none;
}
#footer li
{
	display: inline;
	margin: 5px;
}

/*
 *  AD BAR
 */
#ad-bar
{
	float: right;
	font-size: x-large;
	color: Gray;
	text-align: center;
	background-image: url('Images/adbar-bg.gif');
	background-repeat: repeat-y;
	border: 1px solid #74f230;
	height: 350px;
	width: 200px;
	margin: 10px 0px;
}
#ad-bar p
{
	padding: 20px;
}

/*
 *  HOME PAGE
 */
.recent-rides-grid
{
	font-size: small;
}
.recent-rides-grid th
{
	padding: 5px;
	text-align: left;
}
.recent-rides-grid td
{
	padding: 5px;
}

/*
 *  SEARCH PAGE
 */
#resultsViewStyle 
{	
	clear: both;
}
#resultsViewStyle td, #resultsViewStyle th
{
	border: solid 1px black;
	background-color: #DCDCDC;
}
.gmap-search-small, .gmap-search-large
{
	margin-bottom: 20px;
}
.gmap-search-small
{
	width: 300px;
}
.gmap-search-large
{
	width: 500px;
}
.gmap-search-small td, .gmap-search-large td
{
	padding: 5px;
}
.gmap-search-small div#searchmap
{
	height: 300px;
}
.gmap-search-large div#searchmap
{
	height: 500px;
}

/*
 *  CREATE RIDE PAGE
 */
#createridetable td
{
	vertical-align: top;
	padding: 10px;
}

/*
 *  ABOUT US PAGE
 */
.aboutustable td
{
	vertical-align: top;
	padding: 10px;
}
.aboutustable img
{
	border: 1px solid black;
}

/*
 *  LOGIN PAGE
 */
.login-form td
{
	padding: 2px 5px;
}

/*
 *  REGISTER PAGE
 */
.register-form td
{
	padding: 2px 5px;
}
