/****** Object:  Table [dbo].[Rides]    Script Date: 07/29/2008 21:03:15 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rides]') AND type in (N'U'))
DROP TABLE [dbo].[Rides]
GO
/****** Object:  Table [dbo].[Rides]    Script Date: 07/29/2008 21:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rides]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rides](
	[RideID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FromLocation] [int] NULL,
	[ToLocation] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Rides] PRIMARY KEY CLUSTERED 
(
	[RideID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rides_FromLocation]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [FK_Rides_FromLocation] FOREIGN KEY([FromLocation])
REFERENCES [dbo].[Location] ([LocationID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rides_ToLocation]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [FK_Rides_ToLocation] FOREIGN KEY([ToLocation])
REFERENCES [dbo].[Location] ([LocationID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Rides_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [FK_Rides_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
