/****** Object:  Table [dbo].[Rides]    Script Date: 07/29/2008 23:04:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rides]') AND type in (N'U'))
DROP TABLE [dbo].[Rides]
GO
/****** Object:  Table [dbo].[Rides]    Script Date: 07/29/2008 23:04:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Rides]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Rides](
	[RideID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FromLocationID] [int] NOT NULL,
	[ToLocationID] [int] NOT NULL,
	[DepatureTime] [datetime] NOT NULL,
	[ArivalTime] [datetime] NOT NULL,
	[ReturnRideID] [int] NULL,
	[Recurrence] [xml] NULL,
	[Complete] [bit] NULL,
	[RideType] [bit] NULL,
 CONSTRAINT [PK_Rides] PRIMARY KEY CLUSTERED 
(
	[RideID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 is wanted RIDE 0 is offered RIDE' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Rides', @level2type=N'COLUMN', @level2name=N'RideType'

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[Destination has a location]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [Destination has a location] FOREIGN KEY([FromLocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[Return ride has a ride ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [Return ride has a ride ID] FOREIGN KEY([RideID])
REFERENCES [dbo].[Rides] ([RideID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[To location has a location ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [To location has a location ID] FOREIGN KEY([ToLocationID])
REFERENCES [dbo].[Location] ([LocationID])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[User can own rides]') AND parent_object_id = OBJECT_ID(N'[dbo].[Rides]'))
ALTER TABLE [dbo].[Rides]  WITH CHECK ADD  CONSTRAINT [User can own rides] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
