.centercol
{
	float: right;
}
.leftcol
{
	float: left;
}
.header
{
	text-align: center;
	background-color: #AAAAFF;
	height: 20ex;
	color: Green;
}
.footer
{
	text-align: center;
	font-size: small;
	font-weight: bold;
	background-color: #AAAAFF;
	height: 5ex;
}
a
{
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
