<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GrabbaRide.Database.Properties.Settings.GrabbaRideDBConnectionStringMassey"
            connectionString="Data Source=seat-projects1;Initial Catalog=GrabbaRideDB;User ID=carpool;Password=carpool"
            providerName="System.Data.SqlClient" />
        <add name="GrabbaRide.Database.Properties.Settings.GrabbaRideDBConnectionStringLocalhost"
            connectionString="Data Source=LOCALHOST;Initial Catalog=GrabbaRideDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>