<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GrabbaRide.UnitTests.Properties.Settings.GrabbaRideTestDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=GrabbaRideTestDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>